version: '3.1'

services:

  database:
    image: postgres:15-alpine
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=riddlercore
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=example
    volumes:
      - ./storage/postgres:/var/lib/postgresql/data

  redis:
    image: 'redis:alpine'
    ports:
      - '6379:6379'

  adminer:
    image: adminer
    environment:
      - ADMINER_DESIGN=mvt
    ports:
      - 9000:8080
    links:
      - database:db

  rabbitmq:
    image: 'rabbitmq:3.7-management-alpine'
    ports:
      - '4369:4369'
      - '5671:5671'
      - '5672:5672'
      - '15671:15671'
      - '15672:15672'
      - '25672:25672'
